/* Global Variables & Values */

// Header Styles

.top-header {
  font-size: 0.85em;
  color: #bbb !important;
  a {
  	color:#bbb;
  	text-decoration: underline;
  }
  @media(max-width:640px){
	font-size: 0.8em;
	text-align: center;
  }
}

#site-logo {
	max-width:360px;
	@media(max-width:800px){
		max-width: 250px;
	}
	@media(max-width:640px){
		max-width: 205px;
	}
}

.banner .header-widgets .blvd-logo {
    margin-top: 0;
    margin-bottom: 0;
}

.banner .header-widgets .blvd-responsive-menu {
    margin-top: 20px;
}


.contact-header-info {
    float: right;
    text-align: right;
    padding: 26px 30px 0 0;
    font-size: 0.9em;
    a {
    	float:right;
    	margin-left:15px;
    	color:#000;
    	i {
    		font-size: 1.2em;
    		color:rgba(0,0,0,0.5);
    	}
    }
}

.blvd-slideshow {
	margin-top:160px;
}


// Homepage Parallax

.homepage-parallax {
	background:url('#{$home_widget_parallax}');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
	width:100%; 
	display:block;
	text-align:center;
	margin:50px auto 0 auto;
	padding:70px 0;
	h3 {
		color:#fff;
		text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
		border-bottom:solid 2px #fff;
		max-width: 400px;
		margin:0 auto;
		padding-bottom:20px;
		font-size: 2.5em;
		font-weight: 300; 
		text-transform: uppercase;
		@media(max-width:640px){
			font-size: 1.5em;
		}
	}
	.boxedbottom {
		margin:0 auto;
		padding:25px;
		max-width: 420px;
		background:rgba(255,255,255,0.5);
		color:#000;
		float:none;
	}
	.cbp-qtcontent blockquote {
		border-left:none;
		p {
			color:#ddd;
			font-size: 1.1em;
			font-weight: 300;
			@media(max-width:640px){
				font-size: 0.9em;
			}
		}
		footer {
			text-align: center;
			font-weight: 300;
			color:#fff;
			font-size: 0.9em;
			text-transform: uppercase;
			margin-bottom: 50px;
			@media(max-width:640px){
				font-size: 0.75em;
			}
		}
		footer:before {
			content:'';
		}
		footer:after {
			content:url('/wp-content/uploads/zillow-testimonial.png');
			display: block;
			margin:25px auto 10px auto;
			@media(max-width:640px){
				display:none;
			}
		}
	}
	.tp-button {
	  display: block;
	  font-size: 0.9em;
	  margin: -75px auto 0;
	  max-width: 275px;
	  padding: 15px 30px;
	  margin-bottom:40px;
	  color: #fff;
	  border:solid 2px rgba(255,255,255,0.7);
	}
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -100px !important;
}

.bx-wrapper .bx-pager a:hover, 
.bx-wrapper .bx-pager a.active {
  background: #b81a17 !important;
}

.bx-wrapper .bx-pager a {
  background: #fff !important;
}


// Footer

#footer {
	text-align:center;
	.sub-menu {
		display:none;
	}
	.social-link {
	  border: 2px solid $brand-primary;
	  font-size: 2em;
	  margin: 10px;
	  padding: 10px;
	}
	.nav {
		margin:50px 0 30px 0;
		li {
			float:none;
			display: inline-block;
			margin:5px;
			a {
				display: block;
			}
		}
	}
	.navbar-brand {
	  float: none;
	}
	.blvd-logo {
		border-bottom:solid 1px #ddd; 
		padding:15px 0;
	}
	.footer-links {
		margin:20px auto;
		padding:0;
		li {
			list-style: none;
			display: inline;
			float:none;
			margin:10px;
			img {
				opacity: 0.5;
				transition: all 0.5s ease;
				max-width: 100px;
				max-height: 50px;
				@media(max-width:640px){
					max-width: 75px;
					max-height: 40px;
				}
			}
			img:hover {
				opacity: 1;
			}
		}
	}
	#copyright {
		.hji-powered,
		.copyright {
			padding:15px 0;
			font-size: 0.85em;
			color:#ddd;
			a {
				color:#ddd;
				text-decoration: underline;
			}
		}
	}
}








// Single Agent Page

.single-agent .contact-info {
  width: 75%;
  @media(max-width:1000px){
      width:100%;
  }
}

.calls2action .btn.btn-primary {
  display: block;
  margin: 25px auto -10px !important;
}

.single-agent .agent-contact-info {
    font-size:0.9em;
}

.single-agent .agent-contact-info .agent-tabs {
  margin: 25px 0;
}

.agents-row.col-3 {
  display: inline;
}

.agents-archive .agent-data {
  min-height: 140px;
  @media(max-width:1024px){
      width:48% !important;
  }
  @media(max-width:480px){
      width:98% !important;
      clear:both !important;
  }
}




// Injections!


.hometoptext {
	margin:80px auto;
	@media(max-width:640px){
		margin:30px auto 0 auto;
	}
	p {
		font-size:0.9em;
		line-height: 1.5em;
	}
}



.home-box {
	margin:40px 0;
	text-align:center;
	transition:all 0.5s ease;
	@media(max-width:780px){
		margin:15px 0;
	}
	img {
		margin:0 auto;
		border-bottom:10px solid #fff;
	}
	h3 {
		font-weight: 300;
		font-size: 1.4em;
		text-transform: uppercase;
		color:#777;
		border-bottom:none !important;
		text-decoration: none;
	}
}

.home-box:hover {
	h3 {
		border-bottom:none !important;
		text-decoration: none;
	}
	img {
		border-bottom:10px solid $brand-primary;
	}
}






.home,
.single-hji_areas {
	.nav-tabs {
	  border-bottom: none;
	  text-align: center;
	}

	.nav-tabs > li {
	  display: inline-block;
	  float: none;
	  text-align: center;
	  font-size: 1.3em;
	  font-weight: bold;
	}

	.nav-tabs > li > a {
	    width: 100px;
	    height: 35px;
	    font-size: 13px;
	    font-weight: bold;
	    text-transform: uppercase;
	    opacity: 0.8;
	    border: 0px;
	    text-align: center;
	    margin: 0 auto;
	    background:none !important;
	}
	
	.nav-tabs > li.active > a {
	    background: rgba(255, 255, 255, 0.5) !important;
	    border-radius:0;
	    color:#fff;
	}

	.tab-content {
	  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
	  margin-top:1px;
	  h1 {
	  	color:#fff;
	  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	  	text-align: center;
	  }
	}

	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus {
	  -moz-border-bottom-colors: none;
	  -moz-border-left-colors: none;
	  -moz-border-right-colors: none;
	  -moz-border-top-colors: none;
	  border-image: none;
	  border-style: solid;
	  border: none;
	  color: #000;
	  cursor: default;
	}


	div[role="tabpanel"]{
		padding:140px 75px 185px 75px;
		margin: 0 auto;
	  	max-width: 800px;
	  	div[role="tabpanel"] {
	  		padding:20px;
	  	}
		@media(max-width:800px){
			padding:130px 60px;
		}
		@media(max-width:480px){
			padding:90px 20px;
		}
	}
}


.upper-homewidgets-wrapper {
	margin-bottom:50px;
	h3 {
		padding:20px 0 30px 0;
		font-size: 3em;
		text-align:center;
	}
}


.home-value-attributes, .hji-home-value-form.widget, .home-value-charts {
  border: none;
}

.home {
	.hji-home-value-form .city-wrap, 
	.hji-home-value-form .state-wrap, 
	.hji-home-value-form .zip-wrap, 
	.hji-home-value-form .submit-wrap {
  		min-height: 1px;
  		position: relative;
  		padding:0;
	}
	.hji-home-value-form .street-wrap {
	  float: left;
	  width: 70%;
	}
	.city-wrap,
	.state-wrap {
	  display: none;
	}
	.zip-wrap {
	  margin-left: -25px !important;;
	  float: left;
	  width: 25% !important;;
	}
	.submit-wrap {
	  margin-left: -10px !important;
	  width: 10% !important;
	  float: left;
	}
	.btn.btn-primary.hv-submit:before {
	  content: "\f002";
	  font-family: FontAwesome;
	  padding-right: 100px;
	}
	.btn.btn-primary.hv-submit {
	  overflow: hidden;
	  width: 38px;
	}
}

.home .idx-results.row {
  margin: 0 auto !important;
}

.idx-results .idx-result-snippet .listing-title {
    background: rgba(0,0,0,0.4) !important;
    padding: 8px;
    h4 {
    	color:#fff;
    	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
}



.home #promoted_listings_widget-2 .bx-controls {
	display:none;
}

.home #promoted_listings_widget-2 .listPrice {
    border-bottom: 1px solid #c4c4c4;
    font-size: 1.7em;
    color: #fff;
    background: rgba(0,0,0,0.3);
    text-transform: inherit;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    position: absolute;
    top: -55px;
    right: 15px;
    border-bottom: none;
    padding: 5px 10px;
    border-radius: 4px;
}





footer.content-info {
	margin-top:0;
	padding-top:50px;
	h3 {
		color: #fff;
		margin-top:20px;
	}
	#recent-posts-2 {
		a {
			display: block;
			font-size: 1.3em;
			padding:10px;
		}
		span {
			display: block;
			font-size: 0.9em;
			border-bottom:solid 1px rgba(255,255,255,0.1);
			margin-bottom: 10px;
			padding-bottom:10px;
		}
	}
	.gform_wrapper .gform_button {
	    padding: 7px 10px;
	    border-radius: 0;
	    border: none;
	    font-size: 1em;
	}
}

#copyright {
	padding: 20px;
    background: #011c3b;
}

#idx-footer-compliance {
	display:none;
}